body {
  
 
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);

  background-attachment: fixed;
  display: flex;
  align-items: center;
  margin-top: 10vw;
 
  color: white;
  
  
}



.timezone {
  
  
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(9, 5, 5, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 340px;
  display: inline-block;

  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  

}

/* Add some spacing between time zones */
.timezone:not(:last-child) {
  margin-right: 20px;
}

/* Style the body */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;

}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text {
  z-index: 1;
  
  
}